extends layout

block head 
  link(rel='stylesheet', href='/stylesheets/dashboard.css')
  script(type='text/javascript', src='/javascripts/showHideController.js')
  script(type="text/javascript")
    function SampleController($scope, $http) {
      $scope.order = {
        price : 0,
        quantity : 0,
        side : "Buy",
        expiry : new Date(2013, 8, 15, 0, 0, 0, 0)
      };

      $scope.user = {};
      $scope.setUser = function(user) {
        $scope.user = user;
        $scope.order.user = user._id;
      };

      $scope.submit = function() {
        $http.post('/order', $scope.order).success(function(data) {
          alert(JSON.stringify(data));
        });
      };
    }
  
block content
  div.navbar#account
      div.container
        div.pull-right
          ul.nav.nav-pills
           li.active
              a(href="#", ng-click="hideGraphMenu = ! hideGraphMenu")
                i.icon-bar-chart
                | Graphs
            li 
              a(href="/") 
                i.icon-table
                | Tables
            li 
              a(href="/graphs") 
                i.icon-info-sign
                | Ticks
            li 
              a(href="/team")
                i.icon-wrench
                | Tools
  div.navbar#tilePicker(ng-class="{'hidden': hideGraphMenu}")
      div.container
        div.pull-right
          ul.nav.navbar-nav
           li
              a.newTile(href="/") 
                i.icon-bar-chart
                | Spot Prices
            li 
              a(href="/") 
                i.icon-bar-chart  
                | Orderbook Candlestick
            li 
              a(href="/") 
                i.icon-bar-chart
                | Orderbook Historical Line
  div.row(ng-controller="HistoricalDataController")
      div.col-lg-12
       div.tileHead 
        div.type
          i.icon-bar-chart
        | Place Order
        div.options
          div.option
            i.icon-remove
        ul
          li 
  div.container(ng-controller="GraphDataController")  
    
    div.row#placeForm
      div.col-lg-12.tile(draggable="true", ng-class="{ 'hidden': spotPriceGraphHide }")
        div.tileHead 
          div.type
            i.icon-bar-chart
          | Place Order
          div.options
            div.option
              i.icon-remove(ng-click="spotPriceGraphHide = ! spotPriceGraphHide")    
        form.form-inline(ng-controller="SampleController", ng-init="setUser( #{JSON.stringify(user)} )")
          label Price
          input(type="number", ng-model="order.price")
          label Quantity
          input(type="number", ng-model="order.quantity")
          label  Side
          select(ng-model="order.side", ng-options="x for x in ['Buy', 'Sell']")
          | Expiry
          | {{order.expiry}} {{user.username}}
          div.btn.btn-warning(ng-click="submit()", style="cursor: pointer; background-color: orange; width: 100px") Submit
    div.row
      div.col-lg-12.tile(draggable="true", ng-class="{ 'hidden': orderFormHide }")
        div.tileHead 
          div.type
            i.icon-bar-chart
          |Orderbook
          div.options
            div.option
              i.icon-remove(ng-click="orderFormHide = ! orderFormHide")       
        canvas#myChart(width=1200, height=350, id="myChart")
    div.row
      div.col-lg-12
        div.row
          div.col-lg-6.tile(draggable="true")
            div.tileHead 
              div.type
                i.icon-table
              |Bid/Ask Real Time 
              div.options
                div.option
                  i.icon-cog
            table.table.table-striped#heatmap
              thead 
                tr
                  th Time
                  th Price
                  th Volume
                  th Expiry
                  th Side
              tbody 
                tr(ng-repeat="order in orders.orders", ng-init="init()")
                  td {{order.created | date:'HH:MM:ss'}}
                  td {{order.price}}
                  td.quantityCell {{order.quantity}}
                  td {{order.expiry | date:'HH:MM:ss'}}
                  td {{order.side}}   
          div.col-lg-6.tile(draggable="true")
            div.tileHead 
              div.type
                i.icon-bar-chart
              |Orderbook
              div.options
                div.option
                  i.icon-cog     
            canvas#barChart(width=535, height=350, id="barChart")  
    div.row
      div.col-lg-12 
        div.row
          div.col-lg-6.tile(draggable="true")
            div.tileHead 
              div.type
                i.icon-table
              |Buying
              div.options
                div.option
                  i.icon-cog
            table.table.table-striped
              thead
                tr.buying
                  th Bid
                  th Price
                  th Sum
                  th Expiry
              tbody
                tr(ng-repeat="order in orders.orders", ng-show="order.side =='Buy'")
                  td {{order.created | date:'HH:mm:ss'}}
                  td {{order.price}}
                  td {{order.quantity}}
                  td {{order.expiry | date: 'MM:HH:mm:ss'}}
          div.col-lg-6.tile(draggable="true")
            div.tileHead 
              div.type
                i.icon-table
              |Selling
              div.options
                div.option
                  i.icon-cog
            table.table.table-striped
              thead
                tr
                  th Ask
                  th Price
                  th Sum
                  th Expiry
              tbody.selling
                tr(ng-repeat="order in orders.orders", ng-show="order.side=='Sell'")
                  td {{order.created | date:'HH:mm:ss'}}
                  td {{order.price}}
                  td {{order.quantity}}
                  td {{order.expiry | date: 'MM:HH:mm:ss'}}
    div.row
      div.col-lg-12
        div.row
          div.col-lg-3.tile(draggable="true")
            div.tileHead 
              div.type
               i.icon-info-sign
              | Mt. Gox Spot- Ask
              div.options
                div.option
                  i.icon-cog
            div.tileData(ng-class="askColor") 
              canvas(width=40, height=40, id="arrow");
              | {{mtgox.lastBBO.ask | currency}}
          div.col-lg-3.tile(draggable="true")
            div.tileHead 
              div.type
                i.icon-info-sign
              | Mt. Gox Spot- Bid
              div.options
                div.option
                  i.icon-cog
            div.tileData(ng-class="bidColor") 
              canvas(width=40, height=40, id="arrow2");
              | {{mtgox.lastBBO.bid | currency }}
          div.col-lg-3.tile(draggable="true")
            div.titleHead UpDown
            div.tileData {{askUpDown}}, {{bidUpDown}}
  script(type='text/javascript', src='/javascripts/arrangeTiles.js')
            