extends layout

block content
  canvas#myChart(width=300, height=500, id="myChart")
  script(type='text/javascript', src='/javascripts/showHideController.js')
  div(ng-controller="GraphDataController")
    div
      | Orders
      | {{orders.orders}}
    div
      | Trades
      | {{trades.trades}}
    div
      | Mt. Gox
      | {{mtgox.lastBBO}}
      | {{pricesAsk}}