extends layout

block content
  div.container#dashboard
    br
    div.row-fluid#row1
      div.span7 
        div.boxTitle
          h4 Order Book
      div.span5
        div.boxTitle
          h4 Place an Order
        div(ng-controller="SampleController", ng-init="setUser( #{JSON.stringify(user)} )")
          | Price
          input(type="number", ng-model="order.price")
          br
          | Quantity
          input(type="number", ng-model="order.quantity")
          br
          | Side
          select(ng-model="order.side", ng-options="x for x in ['Buy', 'Sell']")
          br
          {{order.expiry}}
          div(ng-click="submit()", style="cursor: pointer; background-color: orange; width: 100px") Submit
    div.row-fluid#row2
      div.span4.well
      div.span4.well
      div.span4.well

   

