doctype 5
html(ng-app)
  head
    title Tidbits Test
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href="http://fonts.googleapis.com/css?family=Quantico")
    link(rel='stylesheet', href="http://fonts.googleapis.com/css?family=Source+Sans+Pro")	
    script(type='text/javscript', href='/javascripts/bootstrap.js')


    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.js')

    block head

  body
    block content