doctype 5
html(ng-app)
  head
    title Tidbits Test
    script(type='text/javascript', src='http://code.jquery.com/jquery-latest.js')
    script(type='text/javscript', src='/javascripts/bootstrap.js')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.js')
    script(src="/javascripts/vendor/chart.js/chart.js")
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css", rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Quantico:400,400italic,700,700italic')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic')	
    
  block head
    script(type="text/javascript")
      $(document).ready(function() {
        alert('hi'); 
      });


  body
     div.navbar#mainNavbar
      div.container
          a.navbar-brand 
            img(src="/images/bLogo.png")
            | Miezaru
          div.pull-right
            ul.nav.navbar-nav
              li 
                a(href="/") Home
              li 
                a(href="/graphs") Dashboard
              li 
                a(href="/team") Team
    div.container-fluid#rendered
    block content

    