doctype 5
html(ng-app)
  head
    title Tidbits Test
    script(type='text/javscript', src='https://ajax.googleapis.com/ajax/libs/jquery/latest/jquery.min.js')
    script(type='text/javscript', src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js')
    script(type='text/javscript', src='/javascripts/bootstrap.js')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.js')
    script(src="/javascripts/vendor/chart.js/chart.js")
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css", rel="stylesheet")
    link(href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css", rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Quantico:400,400italic,700,700italic')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic')	
    
    block head

  body
     div.navbar
      div.container-fluid
        img#logo(src="/images/bLogo.png")
        div.navbar-inner
          a.brand Miezaru
          div.pull-right
            ul.nav
              li 
                a(href="/") Home
              li 
                a(href="/place") Dashboard
              li 
                a(href="/team") Team
    block content

    