extends layout

prepend head 
  


block head
  script(type='text/javscript', href='/javascripts/heatmap.js')
  script(type="text/javascript")
    function SampleController($scope, $http) {
      $scope.order = {
        price : 0,
        quantity : 0,
        side : "Buy",
        expiry : new Date(2013, 8, 15, 0, 0, 0, 0)
      };

      $scope.user = {};
      $scope.setUser = function(user) {
        $scope.user = user;
        $scope.order.user = user._id;
      };

      $scope.submit = function() {
        $http.post('/order', $scope.order).success(function(data) {
          alert(JSON.stringify(data));
        });
      };
    }


block content
  div#dashboard
    br
    br
    div.row-fluid#row1
      div.span7.well
        div.boxTitle
          img(src="/images/barGraphIcon.png")
          h4 Order Book Graphs
        div.boxBody
          img(src="/images/orderbook.png")
      div.span5.well
        div.boxTitle
          img(src="/images/pencilIcon.png")
          h4 Place an Order
        div.boxBody(ng-controller="SampleController", ng-init="setUser( #{JSON.stringify(user)} )")
          br
          label Price
          input(type="number", ng-model="order.price")
          br
          label Quantity
          input(type="number", ng-model="order.quantity")
          br
          label  Side
          select(ng-model="order.side", ng-options="x for x in ['Buy', 'Sell']")
          br
          | Expiry
          | {{order.expiry}}
          br
          br
          div.btn.btn-warning(ng-click="submit()", style="cursor: pointer; background-color: orange; width: 100px") Submit
    br
    br
    div.row-fluid#row2
      div.span4.well
        div.boxTitle
          img(src="/images/spotRateIcon.png")
          h4 Spot Rates
        div.boxBody#spotRates 
          table.table
            tbody
              th Symbol
              th Last Price
              th Average 
              th Volume
              tr 
                td mtgoxUSD
                td 97
                td 91.35
                td 1,149,872.29
              tr
                td bitstrampUSD
                td 95.64
                td 86.11
                td 352,595.82
              tr 
                td btceSD
                td 88.5
                td 86.73
                td 174,434.91
              tr 
               td btcnCNY
                td 573.02
                td 552.45
                td 143,998.76
              tr 
                td mtgoxEUR
                td 74.19
                td 68.6
                td 129,279.02
      
      div.span4.well
        div.boxTitle
          img(src="/images/30DayIcon.png")
          h4 30-day Volume
        div.boxBody
          img(src="/images/graph.png")
      div.span4.well
        div.boxTitle
          img(src="/images/orderBookIcon.png")
          h4 Order Book
        div.boxBody 
          table.table
            tbody
              th Bid
              th Price
              th Ask
              tr 
                td 137
                td 85
                td 0
              tr
                td 122 
                td 84
                td 0
              tr 
                td 104
                td 83
                td 0
              tr 
                td 91
                td 82
                td 0
              tr 
                td 75
                td 81
                td 59
    