extends layout

block content
  div.container
    div.team 
      h3.viewHeader Our Team
      div.row.teamMember
        div.col-lg-2
          img(src="/images/willHex.png")
        div.col-lg-8.nameDescription
          h4.teamName William Kelly 
            col-lg-.teamTitle Business Development
          p.teamDescription Will once stood in times square and sang for tourists with a cardboard sign that read "Download my free app!" No surprise he's the biz dev guy. 
            |What may come as a surprise is his wealth of finance and bitcoin-specific knowledge.
     div.row.teamMember
      div.col-lg-2
        img(src="/images/valHex.png")
      div.col-lg-8.nameDescription
        h4.teamName Val Karpov
          col-lg-.teamTitle  Lead Developer
        p.teamDescription Val loves programmming and nutrition. He was that kid in 4th grade that was making websites about Pokemon while the rest of the class was pretending to 
          |be pokemon and trying to battle other students on the playground. Val leads our development efforts and is an expert in full-stack javascript applications. Val co-founded SCVNGR
          |and comes to us via Google and Tower Research Capital. 
     div.row.teamMember
      div.col-lg-2
        img(src="/images/cesarHex.png")
      div.col-lg-8.nameDescription
        h4.teamName Cesar Devers
          col-lg-.teamTitle   Designer
        p.teamDescription Cesar likes making pretty things. He is our designer and lead sartorial expert.  He has expierience in designing interfaces for web and mobile apps in the fashion and events spaces.  
          | Cesar thinks his job is the most important because anything you see on this site has felt his influence in one way or another. Live by the design, die by the design. 
     div.row.teamMember
      div.col-lg-2
        img(src="/images/yosefHex.png")
      div.col-lg-8.nameDescription
        h4.teamName Yosef Zia
          col-lg-.teamTitle   Back-End Developer
        p.teamDescription Yosef graduated from the University of Maryland. We're not entirely sure that is a real school but he somehow got into the world of buldge-bracket 
          | investment banks upon graduation. Yosef maintains our orderbook matching algorithms and hedging calculators. He really likes the Redskins. 
     