extends layout

block content
  div.container-fluid
    div.row
      div.span3
        h2.viewHeader Miezaru Team
    div.team 
      div.row.teamMember
        div.span2
          img(src="/images/willHex.png")
        div.span8.nameDescription
          h4.teamName William Kelly 
            span.teamTitle Business Development
          p.teamDescription Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a condimentum tellus. Praesent et orci facilisis, bibendum augue a, aliquam neque. 
            |Nullam dignissim ante sed consequat facilisis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus accumsan nisl nec ligula 
            |tristique sagittis. Quisque non volutpat leo. Phasellus
     div.row.teamMember
      br
      div.span2
        img(src="/images/valHex.png")
      div.span8.nameDescription
        h4.teamName Val Karpov
          span.teamTitle  Lead Developer
        p.teamDescription Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a condimentum tellus. Praesent et orci facilisis, bibendum augue a, aliquam neque. 
          |Nullam dignissim ante sed consequat facilisis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus accumsan nisl nec ligula 
          |tristique sagittis. Quisque non volutpat leo. Phasellus
     div.row.teamMember
      br
      div.span2
        img(src="/images/cesarHex.png")
      div.span8.nameDescription
        h4.teamName Cesar Devers
          span.teamTitle   Designer
        p.teamDescription Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a condimentum tellus. Praesent et orci facilisis, bibendum augue a, aliquam neque. 
          |Nullam dignissim ante sed consequat facilisis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus accumsan nisl nec ligula 
          |tristique sagittis. Quisque non volutpat leo. Phasellus
      div.row.teamMember
      br
      div.span2
        img(src="/images/yosefHex.png")
      div.span8.nameDescription
        h4.teamName Yosef Zia
          span.teamTitle   Back-End Developer
        p.teamDescription Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a condimentum tellus. Praesent et orci facilisis, bibendum augue a, aliquam neque. 
          |Nullam dignissim ante sed consequat facilisis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Phasellus accumsan nisl nec ligula 
          |tristique sagittis. Quisque non volutpat leo. Phasellus