
body {
	background-color: rgb(234, 234, 234);	
}

#account, .tilePicker {
  height:40px;
  min-height:30px;
  background-color: white;
  color:white;
  border-bottom:#ccc solid 1px;
  border-radius:0;
}

.tilePicker {
  border-top:1px #ccc solid;
  margin-top:-22px;
}

.tilePicker .navbar-nav {

}

#account i, .tilePicker i {
  margin-right:5px;
}
#account .container, .pull-right, ul, li {
  height:40px;
  margin-top:-2px;
}

#graphNav div {
	text-align:center;
	height:30px;
	min-height:30px;
	font-weight:300;
	padding-top:4px;
	border-top:1px #ccc solid;
	border-bottom:1px #ccc solid;
}
#placeForm div{
	min-height:0px;
}

#placeForm form {
	margin-bottom:0;
	margin-top:1%;
	margin-bottom:1%;
}

#placeForm input, label,select {
	margin-left:5px;
}

.over {
  border:5px dotted black;
}

#new {
  display:none;
}