body {

	background-repeat:repeat;
	font-size:16px;
}

.container, .container-fluid {
  font-family:"Source Sans Pro", Helvetica, Arial, sans-serif;
  min-width:700px;
  width:1170px;
  margin:auto;
}

a {
  color: white;
}

#dashboard {
	width:1170px;
	margin:auto;
	
}

#logo {
	position:absolute;
	top:2px;

}

#logo img {
	
}

.pull-left {
	border:1px red solid;
}

.boxTitle {
	background-color:#323232;
	color:white;
	margin-top:0;
	color:#efefef;
	height:40px;
	padding-left:15px;
	
}


.viewHeader {
	font-weight:400;
}


.navbar-inner {

}
.navbar {
	background-color:#242424;
	height:55px;
	padding-top:10px;

}

.nav ul {
	color:blue;
	border:1px blue solid;
}
.navbar .brand {
	font-family:"Quantico";
	font-weight:400;
	color:white;
	text-shadow:none;
}

.brand {
	width:155px;
	padding-left:100px;
	text-align: right;
}



#row1 {
	color:white;
}

.boxBody {
	background-image:url('/images/noisy_grid_dark2.png'); 
	background-repeat:repeat;
}



.span4 {
	border:1px green solid;
}

.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 {
	border:1px #ccc solid;
	
}

.row-fluid [class*="span"] {
	min-height:200px;

}



/*------------------------------------------- home page ---------------------------------------------------------*/
#homeContainer {
	width:1170px;
	margin:auto;
}

#homepage {
	height:800px;
	background-color:#fff;
}

#clockMeshWrap img {
	position:absolute;
	float: none;
	margin:auto;
	min-width:700px;
	height:440px;
}

.clockMeshBackground {
	width:100%;
	height:440px;
	height:440px;
	background-color:#fcb040;	
	
	position:absolute;
}

.leadingText {
	position:absolute;
	font-family:"Source Sans Pro";
	color:white;
	font-weight:400;
	font-size:1.2em;
	margin-left:30px;
	margin-top:70px;
}
.leadingText:nth-child(2) {
	display:none;
}
.leadTitle h2{
	font-size:1.5em;
	font-family:"Quantico";
	font-weight:normal;
}

.invite {
	padding:5px;
	background-color:#ff6600;
	width:100px;
	text-align:center;
	font-size:0.8em;
	position:relative;
	margin:auto;	
}

.invite a {
	color:white;
}

.benefitsWrap {
	width:100%;
	height:50px;
	color:blue;
	position:relative;
	top:500px;
}



.benefits img{
	margin:auto;
	display:block;
	
}

.benefits {
	background-color:transparent;
	color:#666;
}

.benefits h4 {
	text-align:center;
	font-weight:600;
}

/*------------------------------------------- team page ---------------------------------------------------------*/

.teamTitle {
	font-weight:300;
	font-style:italic;
}
.teamMember {

}

.teamMember img {
	margin-top:10px;

}

.nameDescription {

}

.teamMember h4 {
	margin-bottom:5px;
}

form {
	position:relative;
	right:80px;
}

/*------------------------------------------- dashboard page ---------------------------------------------------------*/


.tileHead {
	border:1px green solid;
	height:20%;
	text-align:center;
}

.tileData {
	height:80%;
	font-size:2em;
	text-align:center;
	padding-top:30%;
}

