body {
	min-width:700px;
	background-color:#2c2e31;
}

.container {
  font: 14px "Source Sans Pro", Helvetica, Arial, sans-serif;
  border:1px transparent solid;
  width:95%;
}

a {
  color: #00B7FF;
}

.boxTitle {
	background-color:#323232;
	color:white;
	margin-top:0;
}

.boxTitle h4 {
	font-weight:400;
	padding:5px;
}
.navbar-inner {

}
.navbar {
	background-color:#242424;
	height:55px;
	padding-top:10px;
}

.nav ul {
	color:blue;
	border:1px blue solid;
}
.navbar .brand {
	font-family:"Quantico";
	font-weight:400;
	color:white;
	text-shadow:none;
}

#dashboard .span7, .span5 {
	background-color:#232323;
	padding:0;
	margin:0;
}

#row1 {
	color:white;
}
